@media screen and (max-width: 767px) {
    body {
        background-image: url('../../assets/images/btn-background-mobile.jpg');
    }
    .card-header .logo-wrapper img {
        height: 16px !important;
    }
    .card-invite .invite-title-wrapper {
        width: 100% !important;
    }
}
@media screen and (max-width: 425px) {
    .button-invite>button {
        font-size: 12px;
        margin: 50px 0 0;
        padding: 5px 22px;
        line-height: 1.50;
    }
    .invite-text-wrapper-mobile {
        width: 100% !important;
    }
    .rundown-container {
        text-align: left !important;
        padding: 0 16px !important;
    }
}
@media screen and (max-width: 320px) {
    .speakers-container .speakers-wrapper .speakers-info img {
        height: 125px !important;
        width: 125px !important;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .speakers-container .speakers-wrapper .speakers-info img {
        height: 150px !important;
        width: 150px !important;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .invite-text-wrapper-mobile {
        width: 50% !important;
    }
}
